body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #444;
    border-radius: 10px;
    width: 350;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 400px;
}

#result {
    height: 80px;
    font-size: 24px;
    padding: 0;
    background-color: #fff;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: right;
}

#result[type="text"] {
    padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #777;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
}

button:hover {
    background-color: #555;
}

.operators:hover, .equals:hover, .all-clear:hover, .clear:hover{
    background-color: #3ccce6;
    color: #fff;
}

footer {
    text-align: center;
    margin-top: 20px; /* Adjust the value as needed */
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    float: left; /* Positions the copyright text on the left */
    margin-right: 10px; /* Adds some spacing between the text and the icon */
}

#github-link {
    float: left; /* Positions the GitHub icon on the right */
    
}

.git-image {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
}

